/* Some fixes to make the PWA look and feel more native */
html{
    overscroll-behavior: none;
    /* Getting rid of flashing rectangle overlay on tap on buttons etc. */
    -webkit-tap-highlight-color: transparent;
}
body {
    overflow-y: scroll;
    /* Disable text selection on long press */
    -webkit-user-select: none;
}

:root{
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
}
/*
.safeArea {
    padding: 0 0 env(safe-area-inset-bottom) 0;
}
*/